* {
  box-sizing: border-box;
}

body {
  background-color: #20202d;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 945px;
  margin: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 155px;
  background: linear-gradient(0.00deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.social-link {
  margin-left: 20px;
}

.social-link:first-child {
  margin-left: 0;
}

/*----------------я не смог найти подходящего размера SVG для иконки ТГ поэтому:----------------*/
.social-link img {
  width: 17px;
  height: 16px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #FFBB01;
  margin-bottom: 14px;
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}

.button {
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0px 4px 0px 0px rgba(182, 133, 0, 1);
  background: linear-gradient(180.00deg, rgba(252.875, 221.8746795654297, 118.2717514038086, 1), rgba(255, 187, 1, 1) 100%);
  padding: 24px 42px;
  border: none;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center top -10px;
  border: 13px solid #fff;
  background-size: contain;
}

/*----------------features-------------*/
.features {
  background-color: black;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;

}

.features-image {
  display: block;
  margin-bottom: 22px;
}

.features-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* --------------projects---------------- */

.projects {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
}

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.project-text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  flex-basis: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-bottom: 41px;
}

.project-time,
.project-cost {
  flex-basis: 50%;
}

.project-time,
.project-cost,
.project-feedback {
  display: flex;
  align-items: flex-start;
}

.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.project-paragraph {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.project-icon {
  margin-right: 16px;
}


/* -----------------contacts-----------*/
.contacts-form {
  border-radius: 5px;
  box-shadow: -5px 5px 0px #FFC41D;
  background: #fff;
  max-width: 380px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 49px;
}

.form-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.input {
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 3px 10px 0px #c7c7c740;
  background: #f8f8f8;
  padding: 18px 20px;
  padding-left: 49px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 20px;

}

.input-phone {
  margin-bottom: 17px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.form-button {
  width: 100%;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
  /* margin-left: 100px;  - это я использовал до применения flexbasis к элементу contacts-text */
}

.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}

.contacts-socials {
  flex-basis: 100%;
}

.contacts-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-policy {
  display: inline-block;
  color: #a5a5a5;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 72px;
}